body{
    background-color: rgb(11, 174, 145);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.login-area{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login{
    background-color: rgb(11, 145, 89);
    width: 350px;
    height: 400px;
    padding: 35px;
    border-radius: 10px;
}

.login form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login input{
    margin-top: 10px;
    background-color: rgb(46, 163, 114);
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
    color: #CBD0F7;
    font-size: 14px;
    padding-left: 10px;
}

.placeholder{
    color: #CBD0F7;
}

form [type="submit"]{
    display: block;
    background-color: #0b7e2d;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;    
    cursor: pointer;
}

p{
    text-align: center;
    color: #CBD0F7;
}

a{
    color: #0c1952;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
}